body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("purple.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    width: 80%;
    height: 600px;
    background-color: white;
    border-radius: 10px; 
    box-shadow: 4px 8px 18px;
    display: flex;
}
.first{
  height: 600px;
  padding: 30px;
  width: 50%;
}
.second{
   background-image: linear-gradient(to top,rgb(238, 151, 216), rgba(85, 21, 202, 0.952)/*rgb(121, 218, 178)*/);
   color: white;
   height: 600px;
   width: 50%;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px; 
}
.image{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.image >img{
    height: 350px;
    padding: 20px;
    box-shadow:4px 8px 18px rgb(238, 151, 216) ;
    border-radius: 8px;
}
.image>img:hover{
    cursor: pointer;
    box-shadow:4px 8px 18px white;
}
.button{
    width:100%;
    height: 45px;
    background-color: rgb(238, 151, 216);
    color: white;
    border-radius: 8px;
    border: none;
    margin-top: 5%;
    opacity: 0.8;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line > hr{
    border-bottom: 1px solid black;
    width: 40%;
}
.signin{
    width:70%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgb(55, 125, 255);
    display: flex;
    opacity: 0.8;
}
.button:hover, .signin:hover{
    cursor: pointer;
    opacity:1;
}
.google{
    width: 20%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-btn{
    background-color: rgb(55, 125, 255);
    width: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color:white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    padding: 20px 20px 0px 20px;
}
.help-note {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15%;    
    font-weight: 600;
}
.help-note > span{
    color: grey;
}
.help-note > p:hover{
    transform: scale(1.1);
    cursor: pointer;
}
